html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(20, 20, 20);
    color:aliceblue;
    overflow: auto;
    max-width: 100vw;
}
#header{
    height: 60px;
    width: 90%;
    padding: 2vh 2vh;
    display: flex;
    justify-content: space-between;
    margin:auto auto 10%;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}
.header-text{
}
.settings-button{
    background-color: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 2%;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 500;
}
.container #timer{
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 10px;
    padding: 20px 0px 30px;
    max-width: 620px;
    margin: auto;
    border: 1px solid #ccc
}
.phase-buttons{ 
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
}
.focus-button, .short-break, .long-break{
    text-align: center;
    color: inherit;
    border: none;
    padding: 2px 12px;
    height: 28px;
    font-size: 16px;
    background: none;
}
.timer-display{
    display: flex;
    justify-content: center;
    font-size: 36px;
    background-color: rgba(255, 255, 255, 0.113);
    margin: auto 1em;
    border-radius: 4px;
    text-align: center;
    min-width: fit-content;
    padding:2px 12px;
}
.start, .stop, .reset{
    font-size: 20px;
    padding: auto 12px;
    margin-top: 20px;
    background-color: rgb(255, 255, 255,.75);
    opacity: 1;
    color: rgba(20, 20, 20,);
    font-weight: 300px;
    border-radius: 2px;
    height: fit-content;
    display: inline-flex;
    justify-content: space-between;
    border: none;
    padding: 2px 12px;
}